@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #506aee;
  display: flex;
  position: relative;
}

.rectangle {
  margin-left: 4.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 95vh;
  width: 25rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.creds {
  position: absolute;
  top: 11rem;
  left: 12rem;
}
.icon {
  position: absolute;
  top: 3rem;
  left: 16.8rem;
  color: #fff;
  font-size: 3rem;
}
.register {
  margin-top: 1rem;
  margin-left: 3.7rem;
  background-color: #ffba08;
  color: white;
}
.register:hover {
  transform: scale(0.9);
  transition: transform 0.8s ease-in-out;
}
.links {
  margin-top: -15px;
  margin-left: 1.2rem;
}
.or {
  margin-left: 5.5rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  font-weight: 2rem;
}
.heading {
  font-size: 1rem;
  color: #fff;
  margin-left: 10px;
}
