* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bgvideo video {
  min-height: 100%;
  min-width: 100%;
  z-index:
  object-fit: cover;
  position: absolute;
}
#media_div img {
  height: 100vh;
  width: 100%;
}
.icon {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin-left: 44%;
}
.heading {
  margin-top: 7px;
  justify-content: center;
  display: flex;

}
form {
  position: absolute;
  top: 15%;
  z-index: 9;
  transform: translateX(-35% -25%);
  color: #fff;
}
.register {
  color: white;
  margin-top: 10px;
  margin-left: 30%;
  width: 40%;
}
.or {
  margin-left: 47%;
  font-weight: 600;
  font-size: 15px;
}
.links {
  background-color: rgb(202, 200, 197);
  margin-left: 22.7%;
  width: 15rem;
  font-size: 0.8em;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.486);
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
    repeat scroll transparent\9;
  color: white;
  overflow: hidden;
  z-index: 0;
}

@media (max-width: 1236px) {
  form {
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .links {
    margin-left: 21%;
    margin-top: 3%;
  }
}

#firstname{
  width: 90%;
}

#lastname_label{
  margin-left: 5%;
}

#lastname{
  margin-left: 5%;
  width: 95%;
}

#names{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#email_label{
  margin-top: 20px;
}

#phone_label{
  margin-top: 20px;
}

#password_label{
  margin-top: 20px;
}

/* javascript $ responsive if the video doesnot load
mobile view transition */


.card {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    align-items: center;
    height: 100%;
    position: relative
}

.containery{
    height: 40vh;
    font-size: 0.8em;
}

body {
    background: #eee;
}

.mobile-text {
  text-align: center;
    color: #989696b8;

}

.form-control {
    margin-right: 12px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    box-shadow: none
}

.cursor {
    cursor: pointer;
}

.close_icon{
  width: 20px;
  height: 20px;
  align-self:flex-end;
  margin: 1rem;
}



@media(max-width:414px){
  .containery{
    height: 50vh;
  }
}
